#counter {
  font-size: 15rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: beige;
  text-align: center;
  margin-bottom: 5rem;
}

body {
  background-color: black;
}

.btn {
  height: 80px;
  line-height: 80px;  
  width: 80px;  
  font-size: 1.5em;
  border-radius: 50%;
  color: white;
  text-align: center;
  cursor: pointer;
  margin: 3rem;
}

.start {
  background-color: green;
}

.stop {
  background-color: red;
}

.reset {
  background-color: grey;
}

#btnContainer {
 display: flex;
 justify-content: center; 
}